TELEGRAM_TOKEN=replace_me
TELEGRAM_CHAT_IDS='["123456789"]'
PLANT_ID=replace_me
LATITUDE=25.850
LONGITUDE=-0.542
TZ=Europe/Madrid
API_URL=https://uni001eu5.fusionsolar.huawei.com/rest/pvms/web/kiosk/v1/station-kiosk-file
HEALTHCHECK_URL=
